html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* img {
  max-width: 100%;
} */
.box {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: 1000px;
  border: 1px solid black;
  justify-content: space-between;
}

.text {
  border: 1px solid gray;
  flex-basis: 300px;
}

.text:nth-child(1) {
  flex: 0 1 auto;
  /* flex-grow: 0; */
  /* flex-shrink: 1; */
  /* flex-basis: auto; */
}
.text:nth-child(2) {
}
