@mixin grid($cols, $margin) {
  float: left;
  background: red;
  margin-right: $margin;
  margin-bottom: $margin;
  height: 150px;

  @if ($cols < 5) {
    width: ((100% - (($cols - 1) * $margin)) / $cols);
  } @else if($cols == 6) {
    display: none;
  } @else {
    width: 100%;
  }

  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}

@mixin link($link, $hover, $active, $visited) {
  color: $link;

  &:hover {
    // color: darken($link, 20%);
    color: lighten($link, 20%);
  }

  @content;
}

@mixin padd($color, $padd...) {
  padding: $padd;
}
